<article id="comment_<%= comment.id %>">
  <h2>#<%= comment.id %> | <%= comment.user.email %>, <%= comment.created_at if user_signed_in? %></h2>
  <%= link_to "Remove", post_comment_path(post, comment), method: :delete, remote: true, data: { confirm: 'Are you sure?', disable_with: "Removing ..." } if current_user == post.user || comment.user == current_user %> |
  <%= link_to "Edit", edit_post_comment_path(post, comment), remote:true, id: "comment_edit_#{comment.id}" if comment.editable?(current_user) %>
  <%= link_to "Cancel", post_comment_cancel_path(post, comment), remote: true, id: "comment_cancel_#{comment.id}", style: "display:none;" %></>
  <div style="margin-top: 30px; margin-bottom: 30px;">
    <div id="<%= "comment_#{comment.id}_reactions" %>">
      <%= display_emojis(comment) %>
    </div>

    <% if user_signed_in? %>
    <div x-data="{ open: false }">
      <button @click="open = true">Reaction</button>
      <ul x-show="open" @click.away="open = false">
        <% AppEmoji.all.each do |emoji| %>
          <li id="<%= "comment_#{comment.id}_emoji_#{emoji.id}_dropdown" %>">
            <%= emoji_link( comment, emoji ) %>
          </li>
        <% end %>
      </ul>
    </div>
    <% end %>
  </div>

  <div id="comment_content_<%= comment.id %>">
    <%= comment.content %>
  </div>
  <br><br>
</article>
