<%= form_with model: [post, comment], namespace: comment.id do |form| %>
  <div class="field">
    <%= form.rich_text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>