<% unless @comment.errors.any? %>
  document.getElementById("messages").insertAdjacentHTML("beforeend", "<%= escape_javascript(render "/comments/comment", comment: @comment, post: @post) %>");
  document.getElementById("comment_content").value=""
<% end %>
