// hides edit link
document.getElementById("<%= "comment_edit_#{@comment.id}" %>").style.display = "none";

// show cancel link
document.getElementById("<%= "comment_cancel_#{@comment.id}" %>").style.display = "inline";

// injects the form
// Note: some developers will argue that innerHTML is not fast enough. There are, obviously, other ways to remove
//       the comment, like iterate alll the nodes, like using removeChild with firstChild & lastChild or
//       replace the dom with something else (replaceChild), or usinng node.remove(). so many options ...
//       innerHTML does the job, though!
var element = document.getElementById("<%= "comment_content_#{@comment.id}" %>");
element.innerHTML = "<%= escape_javascript(render "/comments/form", comment: @comment, post: @post) %>";
