// Udpates the emoji list
document.getElementById("<%= "comment_#{@comment.id}_reactions" %>").innerHTML = "<%=  escape_javascript display_emojis(@comment) %>";

// Udpates the emoji link in the drop down
document.getElementById("<%= "comment_#{@comment.id}_emoji_#{@app_emoji.id}_dropdown" %>").innerHTML = "<%=  escape_javascript emoji_link(@comment, @app_emoji) %>";