<%= form_with(model: [:admin, post], local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.rich_text_area :content %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, Post.statuses.map { |status| [status.first, status.first] } %>
  </div>

  <div class="field">
    <%= form.label :publish_at %>
    <%= form.date_select :publish_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
