<article>
  <h2><%= link_to post.title, post_path(post, post.slug) %></h2>
  <p><%= pluralize(post.comments.count, "comment", "comments") %><p>
  <br>
  <address>By <a rel="author" href=""><%= post.user.email %></a></address>
    on <time pubdate datetime="<%= post.publish_at %>" title="<%= post.publish_at %>"><%= post.publish_at %></time>
  <br><br>
  <%= truncate post.content.to_plain_text, length: 250, seperator: ' ' %>
  <hr>
</article>