
<h1>Fancy blog system</h1>
<aside>
  <ul>
    <% @users.each do |user| %>
      
      <li><%= link_to posts_number_by_email(user), post_users_path(user.email) %></li>
    <% end %>
  </ul>
</aside>

<section>
  <%= render partial: "post_resume", collection: @posts, as: :post %>
</section>