<section>
  <article>
    <h1><%= @post.title %></h1>
    <br>
    <address>By <a rel="author" href=""><%= @post.user.email %></a></address>
      on <time pubdate datetime="<%= @post.publish_at %>" title="<%= @post.publish_at %>"><%= @post.publish_at %></time>
    <br><br>
    <%= @post.content %>
  </article>
</section>

<hr>

<section id="messages">
  <%= render partial: "comments/comment", collection: @post.comments, locals: { post: @post } %>
</section>

<% if user_signed_in? %>
  <%= render "comments/form", post: @post, comment: Comment.new %>
<% end %>